$text-color: #071330;
$primary-color: #3D55F9;
$light-color:#E5E5E5; 
$bg-1: #7FDDF0;
$bg-2: #5FAEEC;
$bg-3: #9B78FD;
$bg-4: #EF9CD0;
$bg-5: #F6845E;
$bg-6: #F9B65E;
$bg-7: #FFDD57;
$bg-8: #ABE050;
$bg-9: #7BCFA6;
$bg-10:#B5B8C1;
$font-stack: Arial, Helvetica, sans-serif;
// container
.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: auto;
}